version: '3.8'

services:
  db:
    image: postgres:15.4
    container_name: boj-jandi-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./infra/db-init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: boj-jandi-web
    restart: always
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DATABASE_HOST: db
      DATABASE_PORT: "5432"
    depends_on:
      - db

volumes:
  postgres_data:
